.body{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
} 
.header1{
    background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
position: absolute;
width: 1440px;
height: 72px;
left: 8px;
top: 0px;

}

.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4D5AE5;
    position: absolute;
    left: 156px;
    top: 24px;
}
.logo2{
    color: #2E2F42;
}
.pages{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #2E2F42;

}
.page1{
    position: absolute ;
    left: 348px;
    top: 24px;
}
.page2{
    position: absolute ;
    left: 436px;
    top: 24px;
}
.page3{
    position: absolute ;
    left: 542px;
    top: 24px;
}
.email{
    position: absolute ;
    left: 940px;
    top: 24px;
}
.tel{
    position: absolute ;
    left: 1133px;
    top: 24px;
}
.pages:hover,
.pages:focus {
color: #4D5AE5;
}
.main_info{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
}
.main_info:hover,
.main_info:focus{
color: #4D5AE5;
}
.title{
    font-family: 'Roboto';
    width: 500px;
height: 120px;
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 60px;
color: #FFFFFF;
position: absolute;
left: 474px;
margin-top: 192px;
text-align: center;
letter-spacing: 0.02em;

}
.button_os{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    width: 170px;
    height: 51px;
    position: absolute;
    left: 635px;
    top: 432px;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button_os:hover{
    background: #404BBF;
    border: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.strat{
    position: absolute;
left: 156px;
top: 795px;
}
.punct{
    position: absolute;
left: 444px;
top: 795px;
}
.dilig{
    position: absolute;
left: 732px;
top: 795px;
}
.tech{
    position: absolute;
left: 1020px;
top: 795px;

}
.img1{
    position: absolute;
width: 360px;
height: 300px;
left: 156px;
top: 1131px;
}
.img2{
    position: absolute;
width: 360px;
height: 300px;
left: 540px;
top: 1131px;
}
.img3{
    position: absolute;
width: 360px;
height: 300px;
left: 924px;
top: 1131px;
}
.tit_sec2{
    position: absolute;
    left: 559px;
    top: 1019px;   
}
.tit_sec3{
    margin-top: 120px;
    margin-left: 639px;
    width: 360px;
height: 300px;
}
.mark{

margin-top: -232px;
margin-left: 156px;

}
.text_in_box{
    text-align: center;
letter-spacing: 0.02em;
}
.tom{

    margin-top: -381px;
margin-left: 444px;

}
.camila{
    margin-top: -381px;
    margin-left: 732px;
}
.daniel{
    
    margin-top: -381px;
    margin-left: 1020px;
    
}
.team_box{
    width: 264px;
    height: 380px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.title1{
    width: 1440px;
    height: 603px;  
    position: absolute;
    top: 72px;
    background-color: #2E2F42;
}
.titles_p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}
.parag{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 264px;
height: 72px;

color: #434455;
}
.title2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;
color: #2E2F42;

}
.team_memb{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #2E2F42;
}
.memb_work{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
}
.team_section{
   background-color: #F4F4FD;
   position: absolute;
width: 1440px;
height: 732px;
left: 0px;
top: 1551px;
}
.port_footer{
    background-color: #2E2F42;

    position: absolute;
width: 1440px;
height: 310px;
left: 0px;
top: 1764px;

}
.footer{
    background-color: #2E2F42;
    position: absolute;
width: 1440px;
height: 310px;
left: 0px;
top: 2283px;
}
.footer_par{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 264px;
height: 72px;
margin-top: 16px;
    margin-left: 156px;
color: #E7E9FC;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.footer_logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    margin-top: 100px;
    margin-left: 156px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4D5AE5;
}
.port_button{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
height: 48px;

    color: #4D5AE5;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
}
.port_button:hover,
.port_button:focus{
    color: #FFFFFF;
    background: #4D5AE5;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.but1{
margin-top: 168px;
margin-left: 427px;
}
.but-1{
    width: 69px;
    height: 48px;    
}
.but2{
    margin-top: -48px;
    margin-left: 520px;
}
.but-2{
    width: 116px;
height: 48px;
}
.but3{
    margin-top: -48px;
    margin-left: 660px;
}
.but-3{
    width: 78px;
height: 48px;
}
.but4{
    margin-top: -48px;
    margin-left: 762px;
}
.but-4{
    width: 101px;
height: 48px;
}
.but5{
    margin-top: -48px;
    margin-left: 887px;
}
.but-5{
    width: 126px;
height: 48px;

}
.port_list{
    font-family: 'Roboto';
font-style: normal;
line-height: 24px;
}
.box1{
    position: absolute;
width: 360px;
height: 420px;
left: 156px;
top: 288px;
background: #FFFFFF;
border: 0.5px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.box-shad{
    border: 0.5px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.box-shad:hover{
    border: 0.5px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
cursor: pointer;
}
.text-tit-box{
    font-weight: 600;
font-size: 20px;
padding-left: 16px;
color: #2E2F42;
}
.text-lower-box{
    font-weight: 400;
font-size: 16px;
padding-left: 16px;
color: #434455;
}
.box_set{
    width: 360px;
height: 420px;
}
.box2{
    position: absolute;
left: 540px;
top: 288px;
}
.box3{
    position: absolute;
left: 924px;
top: 288px;
}
.box4{
    position: absolute;
left: 156px;
top: 756px;
}
.box5{
    position: absolute;

left: 540px;
top: 756px;
}
.box6{
    position: absolute;
width: 360px;
height: 420px;
left: 924px;
top: 756px;
}
.box7{
    position: absolute;

left: 156px;
top: 1224px;
}
.box8{
    position: absolute;
left: 540px;
top: 1224px;
}
.box9{
    position: absolute;
left: 924px;
top: 1224px;
}